@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html,body {
    height: 100%;
}
body {
    background: black;
    /*background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);*/
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
.clock {
   font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    text-align: center;
    
    
    
    
    color: rgb(51, 51, 51);
   
}
    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
        color:#aaa;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
