<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>fronted</title>
  <style>
    body {
      background-color: #000;
    }
  </style>
  <link href=/static/css/app.fc4c576730788b9fb1f36c003b908d59.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
  <script type=text/javascript src=/static/js/vendor.00d360f7b37e02379b40.js></script>
  <script type=text/javascript src=/static/js/app.93c0ae25d15994a9f389.js></script>
</body>

</html>